<a href="https://colab.research.google.com/github/Roihan21/2025_PBO_TI1C/blob/main/JOBSHEET%201%20praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum1

In [ ]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print('noted')
print('integer (int) adalah bilangan bulat, misalnya 10, -5 ')
print('float adalah bilangan desimal,  misalnya 3.14, -2.5')
print('complex adalah bilangan kompleks, misalnya 2 + 3j')

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
noted
integer (int) adalah bilangan bulat, misalnya 10, -5
float adalah bilangan desimal,  misalnya 3.14, -2.5
complex adalah bilangan kompleks, misalnya 2 + 3j

In [ ]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

print('noted')
print('True dan False itu adalah tipe data boolean (bool) dalam Python.')

is_active = True -> <class 'bool'>
noted
True dan False itu adalah tipe data boolean (bool) dalam Python.

In [ ]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

print('noted')
print('String adalah tipe data yang digunakan untuk menyimpan teks/huruf/alfhabet.')

teks = Hello, Python! -> <class 'str'>
noted
String adalah tipe data yang digunakan untuk menyimpan teks/huruf/alfhabet.

In [ ]:

# 4. List
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>
koordinat = (10, 20) -> <class 'tuple'>

In [ ]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))
print('noted')
print('Tuple adalah tipe data dalam Python yang bersifat immutable (tidak bisa diubah)')
print('Tuple sering digunakan untuk menyimpan data tetap, seperti koordinat atau warna.')

koordinat = (10, 20) -> <class 'tuple'>
noted
Tuple adalah tipe data dalam Python yang bersifat immutable (tidak bisa diubah)
Tuple sering digunakan untuk menyimpan data tetap, seperti koordinat atau warna.

In [ ]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
     "nama": "Andi",
     "nim": "A11.2022.12345",
     "jurusan": "Teknik Informatika"
 }
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa)) #Fixed: Removed extra "" and corrected indentation

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

In [ ]:
#7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

print('noted')
print('Set adalah tipe data dalam Python yang berisi kumpulan elemen unik dan tidak berurutan.')

himpunan_angka = {1, 2, 3} -> <class 'set'>
noted
Set adalah tipe data dalam Python yang berisi kumpulan elemen unik dan tidak berurutan.

In [ ]:
#8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

Praktikum 2

In [ ]:
# -*- coding: utf-8 -*-

# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)

# Python tidak memerlukan deklarasi tipe data secara eksplisit.
# Tipe data variabel akan menyesuaikan nilai yang diberikan.

# 2. Operasi Aritmetika
a = 10
b = 3

penjumlahan = a + b      # Tambah
pengurangan = a - b      # Kurang
perkalian = a * b        # Kali
pembagian = a / b        # Bagi (hasil float)
pembagian_bulat = a // b # Bagi (bulat)
modulus = a % b          # Sisa bagi
pangkat = a ** b         # Pemangkatan

print("\nOPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

# 3. Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama = a != b
lebih_besar_sama = a >= b
kurang_sama = a <= b

print("\nOPERASI PERBANDINGAN")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama)
print("a >= b =", lebih_besar_sama)
print("a <= b =", kurang_sama)

# 4. Operasi Logika
# and, or, not

x = True
y = False

logika_and = x and y
logika_or = x or y
logika_not_x = not x

print("\nOPERASI LOGIKA")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not_x)

# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
    print("\nKondisi terpenuhi: a lebih besar dari b, dan b masih positif.")
else:
    print("\nKondisi tidak terpenuhi atau b <= 0.")

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True

OPERASI ARITMETIKA
a = 10 , b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Pembagian Bulat = 3
Modulus = 1
Pangkat = 1000

OPERASI PERBANDINGAN
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

OPERASI LOGIKA
x = True , y = False
x and y = False
x or y = True
not x = False

Kondisi terpenuhi: a lebih besar dari b, dan b masih positif.

Praktikum 3

In [ ]:
# -*- coding: utf-8 -*-

# 1. IF Sederhana
# Program hanya mengeksekusi blok jika kondisinya True

nilai = 85
print("Contoh IF Sederhana:")
if nilai > 80:
    print("Selamat! Anda lulus dengan nilai tinggi.\n")

# 2. IF-ELSE
# Jika kondisi True, eksekusi blok if; jika False, eksekusi blok else

umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:
    print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
    print("Anda belum cukup umur untuk mendapatkan SIM.\n")


print('IF digunakan untuk mengeksekusi kode hanya jika kondisi True.')
print('IF-ELSE digunakan untuk memilih antara dua kemungkinan hasil berdasarkan kondisi yang diberikan.')

Contoh IF Sederhana:
Selamat! Anda lulus dengan nilai tinggi.

Contoh IF-ELSE:
Anda belum cukup umur untuk mendapatkan SIM.

IF digunakan untuk mengeksekusi kode hanya jika kondisi True.
IF-ELSE digunakan untuk memilih antara dua kemungkinan hasil berdasarkan kondisi yang diberikan.

In [ ]:
# -*- coding: utf-8 -*-

# 3. IF-ELIF-ELSE
# Menangani banyak kondisi secara berurutan.
# Jika ada kondisi yang terpenuhi, blok yang bersangkutan dieksekusi.

hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
    print("Hari Senin - Saatnya kembali bekerja!")
elif hari == "Selasa":
    print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
    print("Hari Rabu - Ada diskon di beberapa toko.")
else:
    print("Hari lainnya - Atur jadwalmu dengan baik.\n")

# 4. IF Bersarang (Nested IF)
# Kondisi di dalam kondisi, digunakan untuk memeriksa sub-kondisi setelah kondisi utama terpenuhi.

suhu = 35
print("Contoh IF Bersarang (Nested IF):")
if suhu > 30:
    print("Cuaca cukup panas.")
    if suhu > 40:
        print("Bahkan sangat terik! Disarankan banyak minum air.")
    else:
        print("Masih bisa ditoleransi, tetap jaga kesehatan.\n")
    else:
        print("Cuaca cukup hangat.\n")

print('noted')
print('IF-ELIF-ELSE digunakan untuk memilih satu kondisi dari beberapa kemungkinan')
print('Nested IF digunakan untuk mengecek kondisi dalam kondisi. Percabangan membantu pengambilan keputusan dalam program')

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko.
Contoh IF Bersarang (Nested IF):
Cuaca cukup panas.
Masih bisa ditoleransi, tetap jaga kesehatan.

noted
IF-ELIF-ELSE digunakan untuk memilih satu kondisi dari beberapa kemungkinan
Nested IF digunakan untuk mengecek kondisi dalam kondisi. Percabangan membantu pengambilan keputusan dalam program

In [ ]:
# 5. Menggabungkan Percabangan dengan Operasi Logika 57: # Memeriksa beberapa kondisi sekaligus dengan and, or, not 58:
nilai_teori = 75
nilai_praktik = 80
print("Contoh IF dengan Operasi Logika AND/OR:")
if nilai_teori >= 70 and nilai_praktik >= 70:
   print("Anda lulus karena nilai teori dan praktik memadai.")
elif nilai_teori < 70 and nilai_praktik < 70:
    print("Anda perlu meningkatkan nilai teori dan praktik.")
elif nilai_teori < 70:
     print("Anda perlu meningkatkan nilai teori.")
else:
     print("Anda perlu meningkatkan nilai praktik.\n")
 # 6. Penggunaan If Ternary (atau Conditional Expression)
 # Bentuk ringkas: <hasil_if_true> if <kondisi> else <hasil_if_false>
angka = -5
print("Contoh If Ternary (Conditional Expression):")
status = "Positif" if angka > 0 else "Negatif atau Nol"
print("Angka =", angka, "=>", status)

print('note:')
print('Operasi logika (AND, OR, NOT) digunakan dalam percabangan untuk mengevaluasi beberapa kondisi sekaligus.')
print('IF Ternary adalah cara singkat untuk menulis percabangan dalam satu baris dengan format: hasil_true if kondisi else hasil_false')

Contoh IF dengan Operasi Logika AND/OR:
Anda lulus karena nilai teori dan praktik memadai.
Contoh If Ternary (Conditional Expression):
Angka = -5 => Negatif atau Nol
note:
Operasi logika (AND, OR, NOT) digunakan dalam percabangan untuk mengevaluasi beberapa kondisi sekaligus.
IF Ternary adalah cara singkat untuk menulis percabangan dalam satu baris dengan format: hasil_true if kondisi else hasil_false

Praktikum 4

In [7]:
#-*- coding: utf-8 -*-
# 1. FOR Loop dengan range()
print("1) FOR loop dengan range()")
for i in range(5):
    print("Perulangan ke-", i)
    # range(5) menghasilkan nilai 0, 1, 2, 3, dan 4
    # Sehingga perulangan akan berjalan sebanyak 5 kali
    print()  # pemisah output #Fixed: Corrected indentation
# 2. FOR Loop untuk mengiterasi List
print("2) FOR loop mengiterasi list")
buah = ["apel", "mangga", "jeruk", "pisang"]
for item in buah:
    print("Buah:", item)
    # Loop akan mengeksekusi setiap elemen dalam list "buah"
print() #Fixed: Corrected indentation

1) FOR loop dengan range()
Perulangan ke- 0

Perulangan ke- 1

Perulangan ke- 2

Perulangan ke- 3

Perulangan ke- 4

2) FOR loop mengiterasi list
Buah: apel
Buah: mangga
Buah: jeruk
Buah: pisang

In [15]:
# 3. WHILE Loop
print("3) WHILE loop sederhana")
count = 0
while count < 5:
     print("count =", count)
     count += 1  # increment
 # Perulangan while terus dijalankan selama kondisi (count < 5) bernilai
True
print()

3) WHILE loop sederhana
count = 0
count = 1
count = 2
count = 3
count = 4

In [18]:
# 4. BREAK pada Loop
print("4) BREAK di dalam loop")
for i in range(10):
     if i == 3:
         print("Loop dihentikan pada i =", i)
         break  # mengakhiri loop saat i = 3
     print("i =", i)
 # Keyword break langsung menghentikan keseluruhan perulangan
print()

4) BREAK di dalam loop
i = 0
i = 1
i = 2
Loop dihentikan pada i = 3

In [19]:
# 5. CONTINUE pada Loop
print("5) CONTINUE di dalam loop")
for i in range(5):
     if i == 2:
         print("Lewati i =", i, "dengan continue")
         continue  # melewati iterasi saat ini dan lanjut ke iterasi berikutnya
     print("i =", i)
 # Saat i = 2, baris print("i =", i) tidak akan dieksekusi

print()

5) CONTINUE di dalam loop
i = 0
i = 1
Lewati i = 2 dengan continue
i = 3
i = 4

In [21]:
# 6. NESTED Loop (Loop Bersarang)
print("6) NESTED loop")
for i in range(3):            # Loop luar (outer loop)
  for j in range(2):        # Loop dalam (inner loop)
         print(f"i={i}, j={j}")
# Pada setiap iterasi i, loop j akan berjalan dari 0 sampai 1

print()

6) NESTED loop
i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

In [23]:
# 7. Memanfaatkan ELSE pada Loop
print("7) ELSE pada loop for/while")
# Python memiliki fitur unik: blok else pada loop
# Blok else akan dieksekusi jika loop selesai tanpa di-break.

for x in range(3):
    print("x =", x)
else:
    print("Loop for telah selesai tanpa break.\n")
y = 0
while y < 3:
    print("y =", y)
    y += 1  # increment #Fixed: Moved this line inside the while loop to align it with other statements
else:
    print("Loop while telah selesai tanpa break.\n")
    #Fixed: Corrected the indentation of the 'else' statement and the code within it

7) ELSE pada loop for/while
x = 0
x = 1
x = 2
Loop for telah selesai tanpa break.

y = 0
y = 1
y = 2
Loop while telah selesai tanpa break.

In [29]:
# 8. PASS sebagai placeholder
print("8) PASS (placeholder)")
for i in range(3):
     if i == 1:
         pass  # pass tidak melakukan apa-apa, digunakan sebagai placeholder
     print("i =", i) #Fixed: Added indentation for pass statement

8) PASS (placeholder)
i = 0
i = 1
i = 2